.eunit
*.o
*.beam
*.plt
*.csv
!keys.csv
!key_queries.csv
erl_crash.dump
.concrete/DEV_MODE

# rebar 2.x
.rebar
rel/example_project
ebin/*.beam
deps

# rebar 3
.rebar3
_build/
_checkouts/

part1/test.erl
/.vscode
